/* CONTACTS START / НАЧАЛО БЛОКА "КОНТАКТЫ" */
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

.contacts_block {
	display: flex;
	flex-direction: row;
}

.contacts_inner {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.contacts_item {
	display: flex;
	justify-content: flex-start;
	text-align: left;
    padding-top: 20px;
}

.contacts_point {
	display: flex;
	flex-direction: row;
}

.contacts_point_icon img {
    width: 100px;
	display: flex;
	margin: 0 auto;
}

.contacts_point_icon_inner {
	position: relative;
}

.contacts_point_icon_inner img {
	position: absolute;
	bottom: 28px;
	left: 25px;
	width: 40px;
}

.contacts_point_desk {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-left: 25px;
}

.contacts_point_text {
    background-color: #313F48;
}

.contacts_point_text  {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
	cursor: pointer;
}

.contacts_point_text a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;

	color: #FFFFFF;
    text-align: center;
    justify-content: center;
    padding: 20px;
	text-decoration: none;
	transition: .3s ease-in-out;
}

.contacts_point_text a:hover {
	color: #9CA8CD;
}
/* CONTACTS END / КОНЕЦ БЛОКА "КОНТАКТЫ" */