/* EDUCATION START / НАЧАЛО БЛОКА "ОБРАЗОВАНИЕ" */
.education {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

.education_point {
	position: relative;
	padding: 40px 0 20px 0;
	display: inline-flex;
	flex-direction: column;
	right: 200px;
}

.education_point h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 96px;
	color: #2D5288;
	text-align: left;
	line-height: 1.3em;
	opacity: 0.8;
}

.education_point_title {
	background: #2D5288;
	padding: 5px 20px;
	display: inline-block;
	color: #ffff;
}

.education_point_title div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	line-height: 1.3em;
}

.education_point_text {
	background: #6D7692;
	padding: 10px 20px;
	display: inline-block;
	color: #ffff;
}

.education_point_text div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	line-height: 1.3em;
}

.education_point_text span {
    display: inline;
	box-shadow: 0 8px 0 0#2D5288;
}

.good_box_img {
	position: relative;
	display: flex;
	z-index: 3;
	left: 200px;
	top: 50px;
}

.courses_img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center; 
	width: 200px; 
	height: 200px;
	background: #A8AFC4;
	border-radius: 50%;
	float: left;
	right: 0;
	bottom: 50px;
	right: 90px;
	z-index: -1;
}

.courses_img img {
	width: 170px;
	height: 170px;
}

.courses_title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #041120;
	text-align: left;
	line-height: 1.1em;
	text-transform: uppercase;
	margin-left: 50px;
	z-index: 2;
}

.svg_point_circle img {
	width: 75px;
	height: 75px;
}

/* EDUCATION END / КОНЕЦ БЛОКА "ОБРАЗОВАНИЕ" */

