/* FOOTER START / НАЧАЛО ПОДВАЛА */
.footer {
	display: flex;
	margin: 0 auto;
    padding: 10px 0;
	background-color: #041120;
	text-align: center;
	justify-content: flex-start;
}

.footer_inner {
    display: flex;
	align-items: center;
}

.footer_title {
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.nav_footer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 50px;
}

.nav_footer div {
	display: inline-flex;
}

.nav_footer div img {
	display: flex;
	margin: auto;

	width: 80px;
	height: 80px;
	object-fit: cover;
	background-size: cover;
	margin-left: 25px;
}

.nav_footer div a {
	margin: auto;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;

	color: #FFFFFF;
    text-align: center;
    justify-content: center;
    padding: 15px;
	text-decoration: none;
	transition: .3s ease-in-out;
}

@media (max-width: 1363px) {
	.nav_footer div img {
		width: 60px;
		height: 60px;
		margin-left: 10px;

	}

	.nav_footer div a {
		font-size: calc(10px + (15 - 10)*((100vw - 320px)/(1363 - 320)));
		padding: calc(0px + (15 - 0)*((100vw - 320px)/(1363 - 320)));
	}

	.footer_title {
		font-size: calc(15px + (20 - 15)*((100vw - 320px)/(1363 - 320)));

	}

	.nav_footer {
		margin-left: 5px;

	}

}
/* FOOTER END / КОНЕЦ ПОДВАЛА */