/* FOOTER START / НАЧАЛО ПОДВАЛА */
.footer {
	display: flex;
	margin: 0 auto;
    padding: 10px 0;
	background-color: #041120;
	text-align: center;
	justify-content: flex-start;
}

.footer_inner {
    display: flex;
	align-items: center;
}

.title_footer {
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0 100px 0 30px;
}

.footer_block {
	display: flex;
	flex-direction: row;
}

.footer_inner {
	display: flex;
	flex-direction: row;
}

.footer_item {
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

.footer_point {
	display: flex;
	flex-direction: row;
}

.footer_point_icon img {
    width: 65px;
	display: flex;
	margin: 0 auto;
}

.footer_point_icon_inner {
	position: relative;
}

.footer_point_icon_inner img {
	position: absolute;
	bottom: 17px;
	left: 17px;
	width: 27px;
}

.footer_point_desk {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}


.footer_point_text  {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
	cursor: pointer;
}

.footer_point_text a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;

	color: #FFFFFF;
    text-align: center;
    justify-content: center;
    padding: 15px;
	text-decoration: none;
	transition: .3s ease-in-out;
}

.footer_point_text a:hover {
	color: #9CA8CD;
}
/* FOOTER END / КОНЕЦ ПОДВАЛА */