/* Universal styles / Универсальные стили */
body {  
	font-family: 'Montserrat', sans-serif;
	font-family: 'Comfortaa', cursive;
	width: 100%;
   	font-size: 15px;
   	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
}

 *,
 *:before
 *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.title {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	font-size: 48px;
	color: #FFFFFF;
	text-align: center;
}

.title span {
	padding: 15px 150px;
	background: #041120;
}

.title2 {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	font-size: 48px;
	color: #313F48;
}

/* Point / Пункты */
.point {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

.svg_point img {
	width: 100px;
	height: 100px;
}

/* Container / Контейнер */
.container {
	max-width: 1363px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}

/* Adaptability / Адаптивность */
@media (max-width: 1363px) {
		.container {
			max-width: 970px;
		}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}
