/* Universal styles / Универсальные стили */
body {  
	font-family: 'Montserrat', sans-serif;
	font-family: 'Comfortaa', cursive;
	width: 100%;
   	font-size: 15px;
   	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
}

 *,
 *:before
 *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.title {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	font-size: 48px;
	color: #FFFFFF;
	text-align: center;
}

.title span {
	padding: 15px 150px;
	background: #041120;
}

/* Container / Контейнер */
.container {
	max-width: 1363px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}

/* Adaptability / Адаптивность */
@media (max-width: 1363px) {
		.container {
			max-width: 970px;
		}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

/* HEADER START / НАЧАЛО НАВИГАЦИОННОГО МЕНЮ */
.header {
	padding: 10px 0;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #041120;
	z-index: 5;
}

.header_inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_logo {
	text-decoration: none;
	padding-right: 30px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

/* Nav menu / Навигационное меню */
.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 10px;
	margin: 10px;

	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
	transition: color 0.2s linear;
}

.nav_link:hover {
	color: #2D5288;
}
/* HEADER END / КОНЕЦ НАВИГАЦИОННОГО МЕНЮ */





/* INTRO START / НАЧАЛО ИНТРО */
.intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1000px;
	max-height: 6000px;
	height: 600px;
	margin: 0 auto;
	text-align: left;
}

.intro_background {
	width: 35%;
	float: left;
	justify-content: flex-start;
	display: flex;
	z-index: 3;
	left: 0;
}

.photo_background {
	position: absolute;
	left: 0;
	width: 40%;
	height: 600px;
	background-color: #313F48;

	display: flex;
	justify-content: center;
	align-items: center;
}

.photo_background_img  {
	position: absolute;
	left: 50%;
	height: 350px;
	object-fit: cover;
	z-index: 1;
}


.intro_text {
	justify-content: center;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

.intro_text_item {
	margin-left: 50%;
}

.intro_name {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 40px;
	color: #FFFFFF;
	margin-bottom: 20px;
	align-self: center;
	vertical-align: center;

}

.intro_name span {
	padding: 10px 25px;
	background: #041120;
}

.intro_profession {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	vertical-align: center;
	margin-top: 0px;
}

.intro_profession span {
	padding: 10px 30px;
	background: #313F48;
}


.intro_profession2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	vertical-align: center;
	margin-top: 20px;
	margin-right: 820px;
}

.intro_profession2 span {
	padding: 10px 30px;
	background: #313F48;
}
/* INTRO END / КОНЕЦ ИНТРО */





/* ABOUT ME START / НАЧАЛО БЛОКА "ОБО МНЕ" */
.about_me {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
	padding: 40px 0;
}

.about_me_text {
	background: #6D7692;
	padding: 5px 35px;
	margin-top: 15px;
	margin-right: 400px;
}

.about_me_text p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: normal;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	line-height: 1.3em;
}

.margin {
	margin: 20px 0;
}

.about_me_title {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	font-size: 48px;
	color: #313F48;
	text-align: center;

	width: 200px;
	border: 1px solid #041120;

    position: relative;
    margin: 20px 20px;
	
    padding: 5px 30px;
	margin: 0 auto;
}

.about_me_title:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 1px solid #041120;

    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.about_me_point {
	display: flex;
	flex-direction: row;
}

.triangle {
	border: 1px solid #041120;
	width: calc(60px);
    height: calc(60px);
}

.triangle_point {
	width: 0px; 
	height: 0px;
	border-top: 30px solid transparent;
	border-left: 55px solid #313F48;
	border-bottom: 30px solid transparent;
}

.triangle_point_text {
	background: #313F48;
	padding: 10px 45px;
	margin-left: 100px;
}

.triangle_point_text h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #FFFFFF;
	vertical-align: center;
	margin-top: 0px;
}


/* ABOUT ME END / КОНЕЦ БЛОКА "ОБО МНЕ" */
